.apartment__main {
  margin-top: 50px;
  h2 {
    margin-bottom: 20px;
  }
  .apartment__main__description {
    h2 {
      margin-top: 30px;
    }
  };
  .apartment__main__map {
    width: 100%;
    height: 400px;
    margin-top: 40px;
  }
}
