.card{
  border: 0;
  background: transparent;
  &__content {
    border: 1px solid $lightGrey;
    border-radius: 5px;
    background: $white;
    min-height: 350px;
    &.sponsorized {
      background: $lightPurple;
    }

    &.unpublished {
      background: $lightGrey;
    }
  }
  &__header{
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 0;
    a{

      display: inline-block;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }
  &__img{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    &:before{
      border-radius: 5px 5px 0 0;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      content: 'Immagine non disponibile';
      display: flex;
      justify-content: center;
      align-items: center;
      background: $lightGrey;
      text-transform: uppercase;
    }
  }
  &__body{
    padding: 5px;
  }
  &__super-info{
    display: flex;
    justify-content: space-between;
    color: $blue;
    .services{
      margin: 0;
      padding: 0;
      list-style: none;
      &__item{
        display: inline-block;
        margin: 3px;
        span{
          display: none;
        }
      }
    }
  }
  &__title{
    text-transform: uppercase;
    a{
      color: $black;
    }
    h2{
      font-size: 100%;
      font-weight: bold;
    }
  }
  &__price{
    color: $blue;
  }
  &__edit-buttons{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }
}
