// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #76A2FB;
$darkBlue: darken($blue, 30);
$lightBlue: lighten($blue, 21);
$purple: #A576fb;
$lightPurple: lighten($purple, 21);
$orange: #FB8E76;
$orangeTransp: rgba($orange, 20);
$grey: #4E4E4E;
$black: #000;
