.navbar-laravel {
  width: 100%;
  height: $headerHeight;
  background-color: $lightBlue;
  color: white;
  position: absolute;
  z-index: 2;
  float: left;
  img{
    width: 150px;
    margin-top: 30px;
  }
}

.search.form{
  width: 100%;
  top: $headerHeight;
  padding-top: 40px;
  &:after{
    content: '';
    display: block;
    background: url('https://images.pexels.com/photos/208745/pexels-photo-208745.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center;
    height: $headerImage;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .search__height{
    height: 150px;
    position: absolute;
    z-index: 1;
    top: $headerHeight;
    left: 0;
    padding: 2% 5% 0;
    width: 100%;
    &::before{
      content:"";
      position: absolute;
      background: blue;
      opacity: 0.3;
      width: 100%;
      height: 130px;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
  .title{
    display: none;
  }
  #search__form label{
    display: none;
  }
  input[type='text'],
  input[type='number']{
    height: 40px;
    border-radius: 5px;
    border-color: $blue;
  }
  #search__form{
    .form-group{
      height: 40px;
      margin: 0 10px 0 0;
    }
  }
  .search-number{
    width: 100px;
  }
  .checkbox-container{
    margin: 0 10px 0 0;
    background: $white;
    border-radius: 5px;
    input{
      margin: 0;
    }
  }
  .address{
    width: 300px;
  }
}

